@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {

    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(212, 45%, 89%);
    --clr-gray-blue: hsl(220, 15%, 55%);
    --clr-dark-blue: hsl(218, 44%, 22%);
}

body{
    font-family: Outfit;

    background-color: var(--clr-light-gray);

    display: flex;
    justify-content: center;
    place-items: center;
}

h1{
    font-size: 25px;
}

p {
    color: var(--clr-gray-blue);
    font-size: 15px;
}

.center-box {
    background-color: var(--clr-white);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    place-items: center;
    
    border-radius: 2rem;
    padding: 10px;
    padding-top: 20px;
    max-width: 30%;
    
}

.qr-code {
    width: 90%;
    height: auto;

    border-radius: 2rem;
}

button {
    background-color: var(--clr-dark-blue);
    color: var(--clr-white);
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: Outfit;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--clr-gray-blue);
}


@media (min-width: 1100px) {
    .center-box {
        max-width: 20%;
    }
}
